<h2>Edit User</h2>

<form action="/users/<%= user._id %>/save" method="POST">

<input type="text" name="name" value="<%= user.name %>">

<input type="email" name="email" value="<%= user.email %>">

<input type="password" name="password" value="<%= user.password %>">
<!-- 
<select name="role">
<option value="user" <%= user.role === "user" ? "selected" : "" %>>User</option>
<option value="admin" <%= user.role === "admin" ? "selected" : "" %>>Admin</option>
</select> -->

<button type="submit">Save</button>

</form>