<h1>Users</h1>

<a href="/users/add">Add User</a>

<ol>

<% users.forEach(user => { %>

<li>
<%= user.name %> -
<%= user.email %> -
<%= user.role %>

<a href="/users/<%= user._id %>/edit">Edit</a>

<a href="/users/<%= user._id %>/delete">Delete</a>

</li>

<% }) %>

</ol>